<section>

    <img 
        src="/assets/img/Rick-and-Morty-Episode-28-5-2026.png" 
        class="titulo"
        alt="Rick and Morty Episodes"
    >

    <div id="episode-container" class="grid">
<img src="../../img/episodios/1.png">
<img src="../../img/episodios/2.png">
<img src="../../img/episodios/3.png">
<img src="../../img/episodios/4.png">
<img src="../../img/episodios/5.png">
<img src="../../img/episodios/6.png">
<img src="../../img/episodios/7.png">
<img src="../../img/episodios/8.png">
<img src="../../img/episodios/9.png">
<img src="../../img/episodios/10.png">
<img src="../../img/episodios/11.png">
    </div>

</section>