<section>
    <h1>Rick and Morty Characters</h1>
    <button class="crear" id="btn-abrir">+</button>

    <div id="mi-modal" class="overlay">
      <div class="modal-box">
        <h2>Título de la sub-página</h2>
        <div class="inputs">
          <input type="text" placeholder="Name">
          <input type="text" placeholder="status">
          <input type="text" placeholder="species">
          <button id="btn-cerrar">Cerrar</button>
        </div>
      </div>
    </div>

    <div id="characters-container" class="grid"></div>
</section>   
