/* ─────────────────────────────────────────
   NAVBAR
───────────────────────────────────────── */

#navbar {
    background-color: rgba(0, 0, 0, 0.65);
    padding: 0.8rem 1rem;
}

/* ─────────────────────────────────────────
   LISTA NAVBAR
───────────────────────────────────────── */

.list_navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;

    gap: 2rem;

    list-style: none;

    margin: 0;
    padding: 0.6rem;

    font-size: 1.7rem;
}


.list_navbar li {
    border-radius: 1rem;
    transition: all 0.3s ease;
}


.list_navbar li a {
    display: block;

    padding: 0.5rem 1rem;

    color: rgb(0, 255, 0);
    text-decoration: none;

    border-radius: 1rem;

    transition:
        background-color 0.3s ease,
        transform 0.3s ease,
        color 0.3s ease;
}


.list_navbar li a:hover {
    background-color: #00ff0033;
    color: white;
    transform: scale(0.95);
}

.logo{
    width:60px;
    height:auto;
}