body {
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;

}

.navbar {
    background: #202329;
    padding: 1rem;
    display: flex;
    gap: 1rem;
}

.navbar a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

main {
    padding: 2rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
}


.card {
    background: rgb(0, 0, 0);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 3px 10px rgba(0,0,0,.1);
    border: 2px solid #04c7047c;           
    transition: all 0.3s ease;        
}


.card:hover {
    border-color: #4caf50;           
    box-shadow: 0px 3px 10px rgba(0,0,0,.1), 0 0 15px #4caf50; 
}

.card img {
    width: 100%;
}

.card-body {
    padding: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 400px;
}

input,
textarea,
button {
    padding: 1rem;
}


.titulo{
      display: block;      
  margin-left: auto;   
  margin-right: auto
}

#video-fondo {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translate(-50%, -50%);
    object-fit: cover;
}